nav{
    background-color: #646262;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    flex-wrap: wrap;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}
 #font-awesome a{
    padding:2rem;
 }
 #font-awesome a:hover{
    color: rgb(250, 250, 250)  ;
 }
 #facebook{
    color: rgb(0, 140, 255);
 }
  #instagram{
    color:rgb(207, 64, 64);
  }
  #twitter{
    color: aqua;
  }
  #github{
    color:cornflowerblue
  }
  main{
    margin-top: 7rem;
    padding: 2rem;
  }
  h1 span{
    color: rgba(208, 42, 42, 0.847);
        font-family: fantasy;
        letter-spacing:7px;
  }
  
 
.navbar {
    z-index: 1;
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius:4px 4px 15px 15px ;
}